<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378393824412-8vbpq6r9ufi6jdaep1n2883t9561nts8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378393824412-8vbpq6r9ufi6jdaep1n2883t9561nts8</string>
	<key>API_KEY</key>
	<string>AIzaSyAoKAqYkzbj99HnhWb05fZUALmld_wYRVU</string>
	<key>GCM_SENDER_ID</key>
	<string>378393824412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cvApplication</string>
	<key>PROJECT_ID</key>
	<string>cvapplication-301d5</string>
	<key>STORAGE_BUCKET</key>
	<string>cvapplication-301d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378393824412:ios:4369abd0e46cd35338f159</string>
</dict>
</plist>